/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.

Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
ZAGADNIENIE PONADPROGRAMOWE

Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.

Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*
Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
w tej samej pozycji względem okna przeglądarki.
Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom', 'right', 'left'.
*/
.page-header {
  position: fixed;
  top: 50px;
  left: 50px;
}

.page-footer {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

/*
Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od pozycji paska przewijania.
Na projekcie graficznym sekcja menu ma szerokość około 170px i jest oddalona od krawędzi ekranu
o 50px, więc można założyć, że 220px marginesu będzie wartością stosunkowo bezpieczną.
Z kolei spady (padding) nadane na kontener wyznaczają minimalną odległość, na jaką będzie oddalona
treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%, padding-right: 10%).
Właściwość "text-align: right" przykleja zawartość do prawej strony
(oddziałuje na elementy, które są elementami inline'owymi, np. tekst, znaczniki <a>, <span> czy elementy z nadanym stylem "display: inline-block").
*/
.page-content {
  margin-left: 220px;
  padding: 0 5% 0 16%;
}

/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/
.content-section {
  min-height: 100vh;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  background: url("./images/background.svg") center;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.page-navigation__item > a {
  color: #ef008fdc;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.67rem;
  text-transform: uppercase;
}

.page-brand {
  margin-bottom: 2rem;
}

.page-navigation__items > * + * {
  margin-top: 1rem;
}

.band-members {
  display: flex;
  padding-top: 15rem;
}

.band-members__image {
  max-width: 100%;
}

.band-members__name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ccc8ffcc;
}

.band-members__desc {
  font-size: 1.3rem;
  color: #ccc8ff;
}

.content-section__header {
  color: #ef008e;
  font-size: 2.8rem;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
  text-align: right;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.content-section__image {
  margin-left: 15%;
  width: 80%;
  border-top: #ef008e solid 0.3rem;
}

.about-section__desc {
  color: white;
  position: relative;
  width: 32.3rem;
  height: 30rem;
  background-color: #25072e;
  padding: 3rem;
  top: -22rem;
  margin-bottom: -15rem;
  right: 12rem;
  border-bottom: #ef008e solid 0.3rem;
}

.about-section__desc-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.about-section__desc-details {
  font-size: 1.3rem;
  margin: 0;
  color: #ccc8ffcc;
}

.concerts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
}

.concerts__image {
  max-width: 100%;
  border-bottom: #ef008e solid 0.3rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  margin-bottom: 3rem;
  row-gap: 1.5rem;
}

.gallery__item {
  border-top: #ef008e solid 0.3rem;
}

.gallery__image {
  max-width: 100%;
}

.content-section__video {
  border-top: #ef008e solid 0.3rem;
}

.social-links {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-links__item {
  font-size: 0;
  width: 3rem;
  height: 3rem;
}

.social-links__link {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.facebook {
  background-image: url("./images/fb.svg");
}

.instagram {
  background-image: url("./images/insta.svg");
}

.lastfm {
  background-image: url("./images/last.svg");
}

.youtube {
  background-image: url("./images/yout.svg");
}

.concerts__info {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 12rem;
  grid-template-areas:
    "date button"
    "location button";
}

.concerts__date {
  grid-area: date;
  margin: 0;
  color: #ccc8ff;
  font-weight: bold;
}

.concerts__location {
  grid-area: location;
  margin: 0;
  color: #ccc8ff80;
}

.button {
  margin: 0 auto 0 0;
  padding: 1rem 2rem 1rem 2rem;
  grid-area: button;
  background-color: #ccc8ff1a;
  color: #ccc8ffcc;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
}

.button--right {
  margin: 0 0 0 auto;
}

.contact {
  display: grid;
  color: #ccc8ff;
  grid-template-columns: 1fr 1fr;
}

address {
  margin: auto;
}

.form {
  margin-top: 3rem;
}

.form > * + * {
  margin-top: 2rem;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 75%;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #ccc8ff1a;
  padding: 1rem;
  color: #ccc8ff;
  border: none;
}
