/* RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* SCREENREADERS */
.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* FIXED SIDEBAR */
.page-header {
  position: fixed;
  top: 5rem;
  left: 5rem;
}

.page-footer {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
}

.page-content {
  margin-left: 22rem;
  padding: 0 10rem;
}

.content-section {
  min-height: 100vh;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  background-image: url("./images/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-navigation__item > a {
  color: #ef008fdc;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.67rem;
  text-transform: uppercase;
}

.page-brand {
  margin-bottom: 2rem;
}

.page-navigation__items > * + * {
  margin-top: 1rem;
}

.band-members {
  display: flex;
  margin-top: 15vh;
}

.band-members__item {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.band-members__item > * + * {
  margin-top: 1rem;
}

.band-members__image {
  width: 100%;
  flex-grow: 1;
}

.band-members__name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ccc8ffcc;
}

.band-members__desc {
  font-size: 1.3rem;
  color: #ccc8ff;
}

.content-section__header {
  color: #ef008e;
  font-size: 2.8rem;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
  text-align: right;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.content-section__image {
  border-top: #ef008e solid 0.3rem;
  width: 100%;
}

.about-section {
  position: relative;
  margin-bottom: 10rem;
  margin-left: 21.5rem;
}

.about-section__desc {
  color: white;
  position: absolute;
  width: 31rem;
  background-color: #25072e;
  padding: 3rem;
  bottom: 0rem;
  left: -21.5rem;
  border-bottom: #ef008e solid 0.3rem;
}

.about-section__desc-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.about-section__desc-details {
  font-size: 1.3rem;
  margin: 0;
  color: #ccc8ffcc;
}

@supports (not (display: grid)) {
  .concerts {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 3rem;
    margin-bottom: 5rem;
  }
}

.concerts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.concerts__item {
  width: 48%;
}

.concerts__image {
  width: 100%;
  border-bottom: #ef008e solid 0.3rem;
}
@supports (not (display: grid)) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .gallery__item {
    border-top: #ef008e solid 0.3rem;
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery__item {
  width: 32.5%;
  margin-bottom: 2.5rem;
}

.gallery__image {
  width: 100%;
}

.content-section__video-container {
  position: relative;
  padding-top: 56%;
}

.content-section__video {
  position: absolute;
  border-top: #ef008e solid 0.3rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social-links {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-links__item {
  font-size: 0;
  width: 3rem;
  height: 3rem;
}

.social-links__link {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.facebook {
  background-image: url("./images/fb.svg");
}

.instagram {
  background-image: url("./images/insta.svg");
}

.lastfm {
  background-image: url("./images/last.svg");
}

.youtube {
  background-image: url("./images/yout.svg");
}

.concerts__info {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "date button"
    "location button";
}

.concerts__date {
  grid-area: date;
  margin: 0;
  color: #ccc8ff;
  font-weight: bold;
}

.concerts__location {
  grid-area: location;
  margin: 0;
  color: #ccc8ff80;
}

.button {
  grid-area: button;
  background-color: #ccc8ff1a;
  color: #ccc8ffcc;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
}

.button--right {
  margin: 0 0 0 auto;
}

.contact {
  display: grid;
  color: #ccc8ff;
  grid-template-columns: 1fr 1fr;
}

.address {
  margin: auto;
}

.form {
  margin-top: 3rem;
}

.form > * + * {
  margin-top: 2rem;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 75%;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #ccc8ff1a;
  padding: 1rem;
  color: #ccc8ff;
  border: none;
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 6px;
  }
}

@media (orientation: portrait) {
  /* html {
    font-size: 8px;
  } */

  .page-header {
    margin-top: 4rem;
    position: static;
    text-align: center;
    margin-bottom: -6rem;
  }

  .page-content {
    margin: 0;
    padding: 0 2rem;
    text-align: center;
  }

  .content-section {
    min-height: auto;
  }

  .content-section__header {
    text-align: center;
  }

  .band-members {
    flex-direction: column;
  }

  .band-members > .band-members__item + .band-members__item {
    margin-top: 6rem;
  }

  .concerts,
  .gallery,
  .contact {
    display: flex;
    flex-direction: column;
  }

  .about-section {
    margin-left: 0;
    min-height: auto;
    margin-bottom: 20rem;
  }

  .about-section__desc {
    left: 0;
    bottom: -20rem;
    margin-left: 10%;
    width: 80%;
  }

  .concerts {
    margin-bottom: 0;
  }

  .concerts__info {
    display: block;
    margin-bottom: 2rem;
  }

  .concerts__location {
    margin-bottom: 1rem;
  }

  .gallery > .gallery__item + .gallery__item {
    margin-top: 1.5rem;
  }

  .address {
    margin-top: 1rem;
  }

  .form {
    margin-top: 1.5rem;
  }

  .form__label {
    text-align: left;
  }

  .form__input {
    margin-top: 0.2rem;
    width: 100%;
  }

  .page-footer {
    margin: 4rem 0 4rem 0;
    position: static;
  }

  .social-links {
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
}
